<!doctype html>
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if (gte IE 9)| IEMobile |!(IE)]><!--><html class="no-js" lang="en"><!--<![endif]-->
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>{{@site.title}} - {{t "Subscribe"}}</title>

    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes" />

    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">
    <meta http-equiv="cleartype" content="on">

    <link rel="stylesheet" href="{{asset "dist/style.min.css"}}"/>
    <link rel="stylesheet" href="{{asset "dist/plugins.min.css"}}"/>
    <script type="text/javascript">
        // Theme Config, check the documentation before edit this file
        var search_engine_key = 'e08514f928d175f017584aaf54'; // example: e08514f918d175f017584aaf34
        var search_api = "/ghost/api/v2/content/posts/?key=" + search_engine_key + "&limit=all&include=tags";
        var theme_config = {
            masonry: 'on', // If you don't need masonry style, just set to "off"
            sticky_sidebar: 'on', // on / off
            disqus_shortname: 'ghostexample', // You can create your own Disqus Comments here: https://disqus.com/admin/create/
        };
    </script>
    
    {{ghost_head}}
</head>
<body class="{{#if @site.cover_image}}cover{{/if}} {{body_class}}" {{#if @site.cover_image}}style="background: url({{@site.cover_image}}) no-repeat center center fixed;"{{/if}}>

    <main id="page-subscribe" class="main grid-container" role="main">

        <header class="section gradient-effect">
            <nav>
                <a href="{{@site.url}}" class="title usmall">
                    <i class="fa fa-angle-left"></i> {{t "Go back to home" }}
                </a>
            </nav>
        </header>

        <div class="grid-container grid-usmall np-mobile">

            <section class="textcenter">
                <header>
                    <h1 class="title white large fw-bold">{{t "Subscribe to"}} {{@site.title}}</h1>
                    <p class="title usmall">{{@site.description}}</p>
                </header>
                <form class="subscribe-form" data-members-form="subscribe">
                    <div class="form-group">
                        <input data-members-email type="email" placeholder="{{t 'Enter your email address'}}" class="textcenter">
                    </div>
                    <p class="error-detail" data-members-error></p>
                    <p class="success-message">{{t "Subscription was sent successfully, check your email"}} <i class="fa fa-envelope"></i></p>
                    <button class="button red submit" type="submit">{{t "Subscribe"}} <i class="fa fa-paper-plane"></i></button>
                    
                </form>
            </section>
        </div>

    </main>

    <!-- start: #footer -->
    <footer id="footer" class="grid-container">

        {{#if @site.logo}}
            <div class="logo" ><a href="{{@site.url}}"><img src="{{@site.logo}}" alt="{{@site.title}}"></a></div>
        {{else}}
            <div class="logo">
                <a href="{{@site.url}}" class="title white no-margin">{{@site.title}}</a>
            </div>
        {{/if}}

        <p class="published border-effect">{{t "Published with" }} <a href="https://ghost.org/" target="_blank">Ghost</a></p>

        <div class="clear"></div>

    </footer>
    <!-- end: #footer -->
    {{ghost_foot}}
    <script type="text/javascript" src="{{asset 'dist/scripts.min.js' }}" defer></script>

</body>
</html>